NODE_ENV=development
PORT=8000
DATABASE=mongodb://localhost:27017/mini-project
ACTIVE_TOKEN_SECRET=th1s-1s-an-4ctiv3-k3y
ACCESS_TOKEN_SECRET=your-access-token-secret
REFRESH_TOKEN_SECRET=your-refresh-token-secret